<!doctype html>
<html lang="<%= site.locale %>">
  <head>
    <%= render "head", metadata: site.metadata, title: data.title %>
  </head>
  <body class="<%= data.layout %> <%= data.page_class %>">
    <header>
      <section class="hero">
        <h1 class="hero-message">
          <div>Web Developer</div>
          <strong>For Hire</strong>
        </h1>
        <p class="under-hero">This is the website of github user rowinf</p>
        <div class="button-list">
          <a href="/posts" class="btn">Posts</a>
          <a href="/about" class="btn">About</a>
        </div>
      </section>
      <figure class="promo-art">
        <img src="images/hannah-grace-UW6fmtQtvjM-unsplash.jpg" height="400" width="700" alt="a random doodle">
        <figcaption>
          Photo by <a href="https://unsplash.com/@oddityandgrace?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">hannah grace</a> on <a href="https://unsplash.com/photos/foggy-weather-with-trees-UW6fmtQtvjM?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
        </figcaption>
      </figure>
    </header>
    <main>
      <section>
        <%= yield %>
      </section>
    </main>
    
    <%= render "footer", metadata: site.metadata %>
  </body>
</html>
